## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('weather-raw.csv', low_memory=False)
data

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
col_null = data.isnull().sum()
col_null

id          0
year        0
month       0
element     0
d1         20
d2         18
d3         18
d4         20
d5         14
d6         20
d7         20
d8         20
d9         22
d10        20
d11        20
d12        22
d13        20
d14        18
d15        20
d16        20
d17        20
d18        22
d19        22
d20        22
d21        22
d22        22
d23        18
d24        22
d25        20
d26        20
d27        16
d28        20
d29        18
d30        20
d31        20
dtype: int64

In [4]:
col_alv = list(col_null[col_null > 17].index)
col_alv

['d1',
 'd2',
 'd3',
 'd4',
 'd6',
 'd7',
 'd8',
 'd9',
 'd10',
 'd11',
 'd12',
 'd13',
 'd14',
 'd15',
 'd16',
 'd17',
 'd18',
 'd19',
 'd20',
 'd21',
 'd22',
 'd23',
 'd24',
 'd25',
 'd26',
 'd28',
 'd29',
 'd30',
 'd31']

In [5]:
dataset = data.drop(col_alv, axis=1)
dataset

         id  year  month element    d5   d27
0   MX17004  2010      1    tmax   NaN   NaN
1   MX17004  2010      1    tmin   NaN   NaN
2   MX17004  2010      2    tmax   NaN   NaN
3   MX17004  2010      2    tmin   NaN   NaN
4   MX17004  2010      3    tmax  32.1   NaN
5   MX17004  2010      3    tmin  14.2   NaN
6   MX17004  2010      4    tmax   NaN  36.3
7   MX17004  2010      4    tmin   NaN  16.7
8   MX17004  2010      5    tmax   NaN  33.2
9   MX17004  2010      5    tmin   NaN  18.2
10  MX17004  2010      6    tmax   NaN   NaN
11  MX17004  2010      6    tmin   NaN   NaN
12  MX17004  2010      7    tmax   NaN   NaN
13  MX17004  2010      7    tmin   NaN   NaN
14  MX17004  2010      8    tmax  29.6   NaN
15  MX17004  2010      8    tmin  15.8   NaN
16  MX17004  2010     10    tmax  27.0   NaN
17  MX17004  2010     10    tmin  14.0   NaN
18  MX17004  2010     11    tmax  26.3  27.7
19  MX17004  2010     11    tmin   7.9  14.2
20  MX17004  2010     12    tmax   NaN   NaN
21  MX17004  2010     12    tmin   NaN   NaN

In [6]:
col_null1 = dataset[(dataset['d5'].isnull() == True)]
print(col_null1)

         id  year  month element  d5   d27
0   MX17004  2010      1    tmax NaN   NaN
1   MX17004  2010      1    tmin NaN   NaN
2   MX17004  2010      2    tmax NaN   NaN
3   MX17004  2010      2    tmin NaN   NaN
6   MX17004  2010      4    tmax NaN  36.3
7   MX17004  2010      4    tmin NaN  16.7
8   MX17004  2010      5    tmax NaN  33.2
9   MX17004  2010      5    tmin NaN  18.2
10  MX17004  2010      6    tmax NaN   NaN
11  MX17004  2010      6    tmin NaN   NaN
12  MX17004  2010      7    tmax NaN   NaN
13  MX17004  2010      7    tmin NaN   NaN
20  MX17004  2010     12    tmax NaN   NaN
21  MX17004  2010     12    tmin NaN   NaN

In [7]:
col_null2 = dataset[(dataset['d27'].isnull() == True)]
col_null2

         id  year  month element    d5  d27
0   MX17004  2010      1    tmax   NaN  NaN
1   MX17004  2010      1    tmin   NaN  NaN
2   MX17004  2010      2    tmax   NaN  NaN
3   MX17004  2010      2    tmin   NaN  NaN
4   MX17004  2010      3    tmax  32.1  NaN
5   MX17004  2010      3    tmin  14.2  NaN
10  MX17004  2010      6    tmax   NaN  NaN
11  MX17004  2010      6    tmin   NaN  NaN
12  MX17004  2010      7    tmax   NaN  NaN
13  MX17004  2010      7    tmin   NaN  NaN
14  MX17004  2010      8    tmax  29.6  NaN
15  MX17004  2010      8    tmin  15.8  NaN
16  MX17004  2010     10    tmax  27.0  NaN
17  MX17004  2010     10    tmin  14.0  NaN
20  MX17004  2010     12    tmax   NaN  NaN
21  MX17004  2010     12    tmin   NaN  NaN

In [8]:
dataset.describe()

         year      month         d5        d27
count    22.0  22.000000   8.000000   6.000000
mean   2010.0   6.272727  20.862500  24.383333
std       0.0   3.601347   8.904243   9.292022
min    2010.0   1.000000   7.900000  14.200000
25%    2010.0   3.250000  14.150000  17.075000
50%    2010.0   6.000000  21.050000  22.950000
75%    2010.0   9.500000  27.650000  31.825000
max    2010.0  12.000000  32.100000  36.300000

In [9]:
dataset.dtypes

id          object
year         int64
month        int64
element     object
d5         float64
d27        float64
dtype: object